<div class='hero-unit center'>
	<h1>U.P. Propane</h1>
	<p>Home page for the U.P. Propane web app</p>
	<div class='span4 offset3'>
		<%= link_to 'Sign in', '#', class: 'btn btn-large btn-block btn-danger' %>
	</div>
</div>